<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.ee579.group4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:icon="@drawable/music"
        android:label="@string/app_name" >
 <activity
            android:name=".MainViewActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ProjectActivity"
            android:screenOrientation="portrait" >          
            <intent-filter>
              

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".FriendList"
            android:screenOrientation="portrait" >
            <intent-filter>
                   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<activity
            android:name=".AddedFriends"
			android:screenOrientation="portrait" >          
            <intent-filter>
              

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
         <activity
            android:name=".AccessActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
      <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait" >          
            <intent-filter>
                   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        
      <activity
            android:name=".GetFileActivity"
            android:screenOrientation="portrait" >
          
            <intent-filter>
                   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>     
      
         
      <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
    <service android:name=".SimpleIntentService" />  
       <service android:name=".ReceiverService" />  
      
        
    </application>

</manifest>